<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trabalho1progmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho1ProgMobile"
        tools:replace="android:icon">
        <activity
            android:name=".infoAluno.InfoAlunoActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".infoCurso.InfoCursoActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".inserirCurso.InserirCursoActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".inserirAluno.InserirAlunoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>